src/index.jade
img.profile-photo(src="/assets/won.jpg")
h1 Won's
p Collection of random questions and answers about whatever interests him.

section
    h2.yellow Current
    p ...Nothing here, yet
    //- ul
    //-     li 
    //-         a(href="/blog/authenticate-my-api-using-social-login").
    //-             How do I authenticate my <code>React Native</code> app to my APIs using social login (i.e. Google)?

section
    h2.pink Done 
    p ...Nothing here, yet
    //- ul
    //-     li How do I implement micro-frontend using React? 
    //-         ul
    //-             li 
    //-                 a Load <code>React</code> component from another server 
    //-             li 
    //-                 a Connect <code>React</code> components 
    //-             li 
    //-                 a Connect <code>Redux</code> store 

section
    h2.purple Archive 
    p ...Nothing here, yet

public/index.html
<!DOCTYPE html><html><head><style>body{color: white;background-color:#2A2E31;font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;}
main{padding-left: 96px;padding-right: 96px;width: 900px;margin: auto;margin-top: 100px;line-height: 1.3;font-size: 20px;}
a{color:white;cursor:pointer;text-decoration:none;line-height: 1.7;}
a:hover{color:rgb(82,156,202);} 
a:before{content:'🔗';color:rgb(82, 156, 202);margin-right: 6px;}
.menu-list{padding-left:0;text-align:right;}
.menu-item{display:inline-block;margin-right:30px;}
.menu-link{font-size:16px;}</style><link rel="stylesheet" href="/main.css"></head><body><nav class="menu"><ul class="menu-list"><li class="menu-item"><a href="/" class="menu-link home">Home</a></li><li class="menu-item"><a href="https://github.com/WonSong" target="_blank" class="menu-link github">Github </a></li><li class="menu-item"><a href="mailto:hello@wonsong.me" class="menu-link email">hello@wonsong.me</a></li></ul></nav><main><img src="/assets/won.jpg" class="profile-photo"><h1>Won's</h1><p>Collection of random questions and answers about whatever interests him.</p><section><h2 class="yellow">Current</h2><p>...Nothing here, yet</p></section><section><h2 class="pink">Done </h2><p>...Nothing here, yet</p></section><section><h2 class="purple">Archive </h2><p>...Nothing here, yet</p></section></main></body></html>
